@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@keyframes fadeInRepeat {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-repeat {
  animation: fadeInRepeat 4s ease-in-out infinite;
}
